<div class="container">
  <h2 titleSize>Bienvenido al Sistema de Gestión de Alumnos</h2>
  <p>Seleccione una opción del menú para comenzar.</p>

  <div class="dashboard-cards">
    <mat-card class="dashboard-card" routerLink="/alumnos">
      <mat-card-content>
        <mat-icon>people</mat-icon>
        <h3>Ver Alumnos</h3>
        <p>Lista de todos los alumnos registrados</p>
      </mat-card-content>
    </mat-card>

    <!-- <mat-card class="dashboard-card" routerLink="/alumnos/crear">
      <mat-card-content>
        <mat-icon>person_add</mat-icon>
        <h3>Crear Alumno</h3>
        <p>Registrar un nuevo alumno</p>
      </mat-card-content>
    </mat-card> -->
  </div>
</div>
